
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
    background-color: #F7E7CE;
}

.dashboard {
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main-content main-content"
        "sidebar announcements trending";
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    height: 1fr;
    gap: 10px;
    padding: 0;
}

/* Header styles */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: #360a0a;
    padding: 20px;
    color: #22ff00;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    background-color: rgb(28, 3, 44);
    border-color: #22ff00;
    color: #ffffff;
}

.user-info {
    text-align: center;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
}

.header-buttons button {
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(28, 3, 44);
    color: rgb(0, 255, 8);
    border: none;
    cursor: pointer;
}

/* Sidebar styles */
.sidebar {
    grid-area: sidebar;
    background-color: rgb(28, 3, 44);
    display: grid;
    grid-template-rows: 100px auto;
    padding: 10px;
    height: 100%;
    width: max(200px, 22.2%);
}

/* Logo inside the sidebar */
.logo {
    color: rgb(51, 255, 0);
    display: block; /* Ensures the logo link behaves as a block element */
    text-align: center; /* Centers the logo horizontally */
}

.logo img {
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(255, 174, 0);
    font-size: 1.1rem;
}

.nav ul li {
    padding: 15px 0;
    list-style: none;
}

/* Main Content */
.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.projects {
    grid-column: span 2;
    grid-row: 4;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* announcements */
.announcements {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.announcement {
    margin-bottom: 15px;
}

/* Trendng */
.trending {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

/* .trend-item {
    

} */