
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
    background-color: #151515;
}

* {
    border-radius: 30px; 
}

/* headers */

h1{
    color: #22ff00;
}

h2{
    text-align: center;
}


/* Dashboard */
.dashboard {
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main-content main-announcements"
        "sidebar main-content main-trending";
    grid-template-columns: 230px 5fr 2fr;
    grid-template-rows: 80px 1fr;
    height: 1fr;
    gap: 10px;
    padding: 0;
}

/* Header styles */
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #640f0f;
    padding: 20px;
    color: #22ff00;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    background-color: rgb(28, 3, 44);
    border: 1px solid #22ff00;    
    color: rgb(255, 174, 0);
}

/* .user-info {
    text-align: center;
} */

.header-buttons button {
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(28, 3, 44);
    color: #22ff00;
    border: none;
    cursor: pointer;
}

/* Sidebar styles */
.sidebar {
    grid-area: sidebar;
    background-color: #301B3F;
    display: grid;
    grid-template-rows: 100px auto;
    padding: 10px;
    height: 100%;
    width: max(200px, 22.2%);
}

.logo {
    display: block; 
    text-align: center; 
}

.logo img {
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    color: rgb(51, 255, 0);

}

.nav ul li a {
    text-decoration: none;
    color: rgb(255, 174, 0);
    font-size: 1.1rem;
}

.nav ul li {
    list-style-type: none;
    padding: 15px 0;
}

/* Main Content */
.main-content {
    grid-area: main-content;
    display: grid;
    gap: 20px;
    padding: 20px;
}

.projects {
    color: rgb(255, 174, 0);
    padding: 20px;
    background-color: #3C415C;
    box-shadow: 0 10px 20px rgba(40, 100, 38, 0.5);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.project-card {
    background-color: #301B3F;
    padding: 20px;
    border-radius: 5px;
}

/* announcements */

.main-announcements {
    grid-area: main-announcements;
    display: grid;
}

.announcements {
    color: #F14A16;
    grid-column: span 1;
    grid-row: 3;
    background-color: #3C415C;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(40, 100, 38, 0.5);
}

.announcement-grid {
    margin-bottom: 15px;
    display: grid;
    gap: 15px;
}

.announcement-item {
    border-radius: 5px;
    padding: 20px;
    background-color: #301B3F;
}

/* Trending */

.main-trending {
    color: #ca0e1e;
    grid-area: main-trending;
    display: grid;
}

.trending {
    grid-row: 3;
    background-color: #3C415C;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(40, 100, 38, 0.5);

}

.trending-grid {
    margin-bottom: 15px;
    display: grid;
    gap: 15px;
}

.trending-item {
    background-color: #301B3F;
    border-radius: 5px;
    padding: 20px;
}

.main-announcements,
.main-trending {
    padding: 20px;
}

